/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
/* second section bg-color */
.bg-second-sec{
    background-color: rgb(236, 234, 234);
}
.image{
    width: 95%;
}


.wrong-msg {
    color: rgb(243, 237, 237);
    text-align: center;
    margin: 0 auto;
    background: #092cf1;
    margin-top: 20px;
    border-radius: 15px;
    padding: 8px 20px;
    display: none;
}
.wrong-msg-section{
    width: 75%;
    margin: 0 auto;
}